<br><br><br><br><br><br><br><br>
<!-- <app-home></app-home> -->
<div id="appName">
    <h2 align="center"> Contact List Application</h2>
  </div>
<div id="loginid">
    <h3>Hello {{loggedInUserName}} !</h3>
  </div>
  <div id="logout" *ngIf="sessionAvailable == 'YES'">
    <button mat-raised-button color="primary" routerLink="logout">Logout</button>
   </div>
   
<div id="mySidenavHome" class="sidenav">
  <a href="home" id="about">Home</a>
 
</div>
<div id="mySidenavAdmin" class="sidenav">
    
    <a href="SecAdmin"  id="SecAdmin">Contact  Management</a> 
  </div>
  <div id="mySidenavAdminRoles" *ngIf="AdminRole == 'YES'">
      
      <a href="ManageRoles"  id="ManageRoles">Manage Roles</a> 
    </div>
  <div id="SearchBox" class="sidenav">
      <input type="text" (keypress)="contact-tab-content" name="SearchNbr" [(ngModel)]="searchText"  class="form-control" placeholder="Search Users" >
     
    </div>
    <br><br><br>
  <mat-tab-group class="contact-tab-group" mat-stretch-tabs="always">
      
    <mat-tab label="Role Management" mat-stretch-tabs="always">
        {{Notification}}
      <div class="contact-tab-content">
        
        
          {{ErrorNotify}}
          <table class="table">
            <thead>
              <tr>
                <th>User ID</th> 
                <th>First Name</th>
                <th>Last Name</th>   
                <th>Current Role</th>  
                <th>Grant Role</th>   
                <th>Revoke Role</th>         
              </tr>
            </thead>
            <tbody>
             
              <tr *ngFor="let user of users | rolesearch : searchText">
                  <td>
                      {{user.userid}}
                    </td>
                <td>
                  {{user.firstName}}
                </td>
                <td>
                  {{user.lastName}}
                </td>
                <td>
                   <b> {{user.userRole | uppercase}}</b>
                  </td>
               
                  
                <td>
                    <button type="submit" (click)="GrantAccess(user)" mat-raised-button color="primary">Grant Admin</button>
                  </td>
                <td>
                <button type="submit" (click)="RevokeAccess(user)"  mat-raised-button color="primary">Revoke Admin</button>
              </td>
              </tr>
            </tbody>
          
          </table>
      </div>  
    </mat-tab>

   
  </mat-tab-group>
 
<!-- </form>-->