<!--The content below is only a placeholder and can be replaced.-->

<div id="backrnd" style="background-image:url('assets/images/backrnd3.jpg');">
<!-- 
  <p style="text-align:center">
    Welcome to {{title}}!
  </p> -->

<router-outlet></router-outlet>
 <!-- <app-post> </app-post>  -->
<!-- <app-login></app-login>
<br>
<app-registration></app-registration> -->
<!-- <div class="button-row"  *ngIf="sessionAvailable == 'NO'" align=left>
  
  <button mat-raised-button color="primary" routerLink="login">Login</button>
    <button mat-raised-button color="primary" routerLink="registration">Registration</button>
  
</div> -->

<!--<img src="assets/images/backrnd.jpg" height="100" width="1000">
<div class="header" [ngStyle]="{'background-image': 'url('assets/images/backrnd.jpg')'}">

 
</div>-->
</div>



