
<!-- <div style="margin-left:30px;">
    <h2>Contact Management</h2>
    
  </div> -->
  <div id="appName">
      <h2 align="center"> Contact List Application</h2>
    </div>
  <div id="loginid">
      <h3>Hello {{loggedInUserName}} !</h3>
    </div>
    <div id="logout" *ngIf="sessionAvailable == 'YES'">
      <button mat-raised-button color="primary" routerLink="logout">Logout</button>
     </div>
     
<div id="mySidenavHome" class="sidenav">
    <a href="home" id="about">Home</a>
   
  </div>
  <div id="mySidenavAdmin" class="sidenav">
      
      <a href="SecAdmin"  id="SecAdmin">Contact  Management</a> 
    </div>
    <div id="mySidenavAdminRoles" *ngIf="AdminRole == 'YES'">
        
        <a href="ManageRoles"  id="ManageRoles">Manage Roles</a> 
      </div>
    <div id="SearchBox" class="sidenav">
        <input type="text" (keypress)="contact-tab-content" name="SearchNbr" [(ngModel)]="searchText"  class="form-control" placeholder="Search Contacts" >
       
      </div>


<br><br><br><br><br><br><br><br><br><br><br>
<form class="home-form"  #ContactForm="ngForm" class="col-md-4 col-md-offset-4" (submit)="addContacts()"  novalidate>
    <!-- <button type="submit" mat-raised-button color="primary">Save</button> -->
    <!-- <div >
      <button [class.disabled]="hidden" type="submit" mat-raised-button color="primary"  [innerText]="loggedInUser">Security Admin</button>
    </div>
     -->
     
  <mat-tab-group class="contact-tab-group">
   
    <mat-tab label="View My Contacts">
        
      <div class="contact-tab-content">
        Here are my Contacts!
        <!-- <div>
            <input type="text"  name="SearchNbr" [(ngModel)]="searchText"  class="form-control" placeholder="Search Contacts" >
         </div> -->
          
          <table class="table">
            <thead>
              <tr>
                <th>Contact Name</th>
                <th>Contact Number</th>                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of contacts | contactFilter : searchText">
                <td>
                  {{contact.contactName}}
                </td>
                <td>
                  {{contact.contactNumber}}
                </td>
                
              </tr>
            </tbody>
          
          </table>
      </div>  
    </mat-tab>
    <mat-tab label="Add Contacts">
        <br><br>
        <mat-form-field class="home-full-width">
            <input matInput required  [(ngModel)]="contact.contactName" name="cname"  placeholder="Contact Name" [formControl]="cnameFormControl">
            <mat-error *ngIf="cnameFormControl.hasError('cname') && !cnameFormControl.hasError('required')">
              Please enter a valid Contact Name
            </mat-error>
            <mat-error *ngIf="cnameFormControl.hasError('required')">
              Contact Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <br><br>
          <mat-form-field class="home-full-width">
              <span matPrefix>+1 &nbsp;</span>
            <input type="tel"  minlength="10" maxlength="10" required matInput [(ngModel)]="contact.contactNumber" name="cnumber" placeholder="Contact Number"  [formControl]="cnumberFormControl">
            <mat-error *ngIf="validContact == 'NO'">
              Please enter a valid Contact Number
            </mat-error>
            <mat-error *ngIf="cnumberFormControl.hasError('required')">
              Contact Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          
          <br><br>
          <div class="form-group">
            <!-- <button type="submit" class="btn btn-primary">Login</button> -->
            <button type="submit" mat-raised-button color="primary">Add</button>
            
        </div>
    </mat-tab>
  </mat-tab-group>
  
</form>