<br><br><br><br>
<!-- <app-home></app-home> -->

<div id="mySidenav" class="sidenav">
    <a href="home" id="about">Home</a>
    <a href="#" id="addContact">Add Contacts</a>
    <a href="#" id="viewContact">View Contacts</a>
    <a href="#" id="contactUs">Contact Us</a>
    <a href="SecAdmin"  id="SecAdmin">Security Admin</a> 
  </div>
  <div ></div>
  <h2 align="center"> Hello {{loggedInUser}} !</h2>

  <mat-tab-group class="contact-tab-group" mat-stretch-tabs="always">
   
    <mat-tab label="Contact Management" mat-stretch-tabs="always">
        
      <div class="contact-tab-content">
        
        {{DeleteNotification}}
          
          <table class="table">
            <thead>
              <tr>
                <th>Created By</th> 
                <th>Contact Name</th>
                <th>Contact Number</th>   
                <th>Created On</th>  
                          
              </tr>
            </thead>
            <tbody>
             
              <tr *ngFor="let contact of contacts">
                  <td>
                      {{contact.createdBy}}
                    </td>
                <td>
                  {{contact.contactName}}
                </td>
                <td>
                  {{contact.contactNumber}}
                </td>
                <td>
                    {{contact.createdDate | date: 'MM/dd/yyyy'}}
                  </td>
                  
                <td>
                    <button type="submit" (click)="editContact(contact)" mat-raised-button color="primary">Edit</button>
                  </td>
                <td>
                <button type="submit" (click)="deleteContact(contact)"  mat-raised-button color="primary">Delete</button>
              </td>
              </tr>
            </tbody>
          
          </table>
      </div>  
    </mat-tab>

   
  </mat-tab-group>
  <br><br>
  <div class="form-group" align="center">
    <!-- <button type="submit" class="btn btn-primary">Login</button> -->
    <button type="submit" (click)="deleteContacts()"  mat-raised-button color="primary">Delete All</button>
    
</div>
<!-- </form>-->